/* HTML section */

body {
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

h1 {
    font-size: 70px;
}

/* Class section */

.container {
    background-color: chocolate;
}

.entry-title {
    text-transform: lowercase;
    font-weight: 900;
    line-height: normal;
    padding-right: 30px;
    color: #ffffff;
}

.left-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1c1e1f;
    margin: 40px 0;
    flex-basis: 70px;
}

.left-menu-download {
    height: 74px;
    background-color: seagreen;
}

.left-menu-list {
    height: 270px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1e1f;
}

.left-menu-sidebar-btn {
    height: 70px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00c483;
}

.left-menu-sidebar-btn i {
    font-size: 22px;
    color: #1c1e1f;
}

.person {
    display: inline-block;
    position: relative;
    width: 100%;
}

.person-img {
    background-image: url("susana_img.jpg");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.person-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.person-name {
    font-weight: 900;
    line-height: 1.17;
    color: #ffffff;
    text-align: center;
}

.person-position {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    line-height: normal;
    color: #00c483;
}

.person-socials-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin: 15px 0 70px;
}

.person-socials-list a {
    color: #ffffff;
    font-size: 18px;
}

.person-socials-list a i {
    font-family: 'FontAwesome';
    font-style: normal;
}

.person-socials-list li {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.person-socials-list li:not(:last-child) {
    margin-right: 10px;
}

.site-content-head {
    display: flex;
    height: 100%;
}

.turquoise {
    background-color: #1c1e1f;
}

.white {
    background-color: darkslategray;
}