/* HTML section */

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #00c483;
}

body {
    background-color: #000000;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    height: 100vh;
    height: calc(var(--vh, 1vh)*100);
}

element {
    --vh: 6.25px;
}

h1 {
    font-size: 70px;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    color: #ffffff;
    text-transform: lowercase;
    margin-bottom: 0;
}

h5 {
    font-size: 20px;
}

/* Class section */

.about-list {
    display: flex;
}

.about-list .about-item {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.67;
    color: #00c483;
}

.about-list .about-item:not(:last-child) {
    margin-right: 15px;
}

.about-list .about-item::after {
    content: "/";
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    line-height: 1.67;
    color: #ffffff;
    opacity: 0.25;
    padding-left: 15px;
}

.about-list .about-item:last-child::after {
    content: "";
}

.about-resume {
    line-height: 1.73;
    color: #888888;
    margin-top: 20px;
}

.info-wrap {
    padding-right: 30px;
    position: relative;
    padding-bottom: 50px;
}

.info-wrap::after {
    content: "";
    background-color: #ffffff;
    opacity: 0.09;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 30px;
}

.container {
    height: 98%;
    padding-top: 1%;
}

.content-item {
    width: 50%;
    margin-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

.content-item i {
    font-size: 30px;
    color: #00c483;
}

.content-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -30px;
}

.content-text {
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.73;
    color: #888888;
}

.content-title {
    margin-top: 10px;
    font-weight: 900;
    color: #ffffff;
    line-height: 1.5;
}

.entry-title {
    text-transform: lowercase;
    font-weight: 900;
    line-height: normal;
    padding-right: 30px;
    color: #ffffff;
}

.fas .fa-globe-europe::before .height-100 {
    height: 100%;
}

.language-item {
    width: 25%;
    margin-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.language-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-left: -10px;
    margin-right: -10px;
}

.language-level {
    font-size: 13px;
    color: #ffffff;
    font-weight: bold;
}

.language-name {
    font-weight: 800;
    line-height: normal;
    font-size: 26px;
    color: #00c483;
}

.left-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1c1e1f;
    margin: 40px 0;
    flex-basis: 70px;
}

.left-menu-download {
    height: 74px;
}

.left-menu-download a {
    padding: 25.5px 10px;
    display: flex;
    justify-content: center;
    font-size: 22px;
}

.left-menu-list {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1e1f;
}

.left-menu-list-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 270px;
    overflow: hidden;
}

.left-menu-list-icons li {
    width: 100%;
    display: inline-block;
    padding: 10px;
    text-align: center;
    font-size: 22px;
}

.left-menu-sidebar-btn {
    height: 70px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00c483;
}

.left-menu-sidebar-btn i {
    font-size: 22px;
    color: #1c1e1f;
}

.overflow-hidden {
    overflow: hidden;
}

.person {
    display: inline-block;
    position: relative;
    width: 100%;
}

.person-img {
    background-image: url("susana_img.jpg");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.person-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.person-name {
    font-weight: 900;
    line-height: 1.17;
    color: #ffffff;
    text-align: center;
}

.person-position {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    line-height: normal;
    color: #00c483;
}

.person-socials-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin: 15px 0 70px;
}

.person-socials-list a {
    font-size: 18px;
}

.person-socials-list a i {
    font-family: 'FontAwesome';
    font-style: normal;
}

.person-socials-list li {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.person-socials-list li:not(:last-child) {
    margin-right: 10px;
}

.site-content-head {
    display: flex;
    height: 100%;
}

.site-content-inner-left {
    max-width: 50%;
}

.site-content-inner-right {
    max-width: 50%;
    flex: auto;
}

.site-content-page {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.site-content-page-wrap {
    width: 100%;
    margin: 40px 0;
    overflow: hidden;
    position: relative;
    padding: 0 5px 0 35px;
    background-color: #1c1e1f;
}

.site-content-page-wrap .title-wrap-icon {
    color: #00c483;
    font-size: 30px;
    margin-right: 20px;
}

.skills-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills-item:not(:last-child) {
    margin-bottom: 20px;
}

.skills-line {
    width: 100%;
    height: 3px;
    margin-top: 5px;
    background-color: #333333;
    position: relative;
}

.skills-line-fill {
    background-color: #00c483;
    width: 95%;
    height: 3px;
}

.skills-name {
    font-weight: 900;
    line-height: normal;
    font-size: 15px;
    text-transform: lowercase;
}

.skills-value {
    font-weight: 900;
    line-height: normal;
    display: inline-block;
    color: #00c483;
}

.title-wrap {
    margin: 40px 0 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* 767px */

@media (max-width: 767px) {
    .person {
        display: none;
    }
    .left-menu {
        flex-basis: unset;
        width: 100%;
        margin: 0;
    }
    .site-content-inner-left {
        max-width: 50px;
    }
    .site-content-inner-right {
        max-width: calc(100% - 50px);
    }
}

@media (max-width: 991px) {
    .site-content-page-wrap {
        padding: 0 1px 0 30px;
    }
}

@media (max-width: 1199px) {
    .site-content-page-wrap {
        padding: 0 5px 0 40px;
    }
}